# Classification

## Supervised Learning with Scikit-Learn

Ravjot Singh

E-mail: ravjot313@gmail.com

M: +91-9654446404

LinkedIn: https://www.linkedin.com/in/ravjot-singh-1a0777149/

Github: https://github.com/Ravjot03

Importing the required libraries

In [0]:
import pandas as pd

Reading and Statistical Analysis of the dataset

In [151]:
df = pd.read_csv('diabetess.csv')
df.head()

   pregnancies  glucose  diastolic  triceps  ...   bmi    dpf  age  diabetes
0            6      148         72       35  ...  33.6  0.627   50         1
1            1       85         66       29  ...  26.6  0.351   31         0
2            8      183         64        0  ...  23.3  0.672   32         1
3            1       89         66       23  ...  28.1  0.167   21         0
4            0      137         40       35  ...  43.1  2.288   33         1

[5 rows x 9 columns]

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [153]:
df.describe()

       pregnancies     glucose   diastolic  ...         dpf         age    diabetes
count   768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean      3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std       3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min       0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%       1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%       3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%       6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max      17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [154]:
df.isna()

     pregnancies  glucose  diastolic  triceps  ...    bmi    dpf    age  diabetes
0          False    False      False    False  ...  False  False  False     False
1          False    False      False    False  ...  False  False  False     False
2          False    False      False    False  ...  False  False  False     False
3          False    False      False    False  ...  False  False  False     False
4          False    False      False    False  ...  False  False  False     False
..           ...      ...        ...      ...  ...    ...    ...    ...       ...
763        False    False      False    False  ...  False  False  False     False
764        False    False      False    False  ...  False  False  False     False
765        False    False      False    False  ...  False  False  False     False
766        False    False      False    False  ...  False  False  False     False
767        False    False      False    False  ...  False  False  False     False

[768 rows x 9 columns]

In [155]:
df.isna().sum()

pregnancies    0
glucose        0
diastolic      0
triceps        0
insulin        0
bmi            0
dpf            0
age            0
diabetes       0
dtype: int64

In [156]:
df[df == '?'].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

pregnancies    0
glucose        0
diastolic      0
triceps        0
insulin        0
bmi            0
dpf            0
age            0
diabetes       0
dtype: int64

In [157]:
df.keys()

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [158]:
df.shape

(768, 9)

# Classification Model -- **KNN**
## KNN -- KNearestNeighbors

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)

In [0]:
y = df['diabetes'].values
X = df.drop('diabetes', axis=1).values

In [161]:
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (768, 8)
Shape of y: (768,)

Dividing the dataset into training and test data

In [182]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

Shape of Training and Test Data

In [163]:
print("Shape of X_train:",X_train.shape)
print("Shape of X_test:",X_test.shape)
print("Shape of y_train:",y_train.shape)
print("Shape of y_test:",y_test.shape)

Shape of X_train: (576, 8)
Shape of X_test: (192, 8)
Shape of y_train: (576,)
Shape of y_test: (192,)

Predicting the Test data

In [164]:
knn.predict(X_test)
knn.score(X_test,y_test)

0.6927083333333334

**Applying Cross Validation Model**

In [165]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(knn, X, y, cv=5)
print(cv_scores)
print("\n")

import numpy as np

print("Mean of Cross Val Score is:", np.mean(cv_scores))

[0.70779221 0.72727273 0.72077922 0.75816993 0.7254902 ]


Mean of Cross Val Score is: 0.727900857312622

**Fine Tuning the Model**
###### Getting the Classification Report and Confusion Matrix

In [166]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

knn = KNeighborsClassifier(n_neighbors=8)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Confusion Matrix: \n", confusion_matrix(y_test, y_pred))
print("\n")
print("Classification Report: \n", classification_report(y_test,y_pred))

Confusion Matrix:
 [[100  23]
 [ 33  36]]


Classification Report:
               precision    recall  f1-score   support

           0       0.75      0.81      0.78       123
           1       0.61      0.52      0.56        69

    accuracy                           0.71       192
   macro avg       0.68      0.67      0.67       192
weighted avg       0.70      0.71      0.70       192

**Hyperparameters**

In [167]:
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors': np.arange(1,50)}

knn = KNeighborsClassifier()
knn_cv = GridSearchCV(knn, param_grid, cv=5)
knn_cv.fit(X,y)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [168]:
knn_cv.best_params_

{'n_neighbors': 14}

In [169]:
knn_cv.best_score_

0.7578558696205755

In [170]:
knn_cv.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=14, p=2,
                     weights='uniform')

In [171]:
knn_cv.best_index_

13

In [172]:
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'n_neighbors': np.arange(1,50)}

knn = KNeighborsClassifier()
knn_scv = RandomizedSearchCV(knn, param_grid, cv=5)
knn_scv.fit(X,y)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=KNeighborsClassifier(algorithm='auto',
                                                  leaf_size=30,
                                                  metric='minkowski',
                                                  metric_params=None,
                                                  n_jobs=None, n_neighbors=5,
                                                  p=2, weights='uniform'),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [173]:
knn_scv.best_params_

{'n_neighbors': 14}

In [174]:
knn_scv.best_score_

0.7578558696205755

**Applying Ridge Model to the Dataset**

In [175]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

ridge_class = RidgeClassifier(alpha=0.5, normalize=True)
ridge_class.fit(X_train, y_train)
ridge_class.predict(X_test)
ridge_class.score(X_test,y_test)

0.7708333333333334

**Replacing the missing values from the data**

In [176]:
df.insulin.replace(0, np.nan, inplace=True)
df.triceps.replace(0, np.nan, inplace=True)
df.bmi.replace(0, np.nan, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      541 non-null    float64
 4   insulin      394 non-null    float64
 5   bmi          757 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 54.1 KB

Preprocessing of data

In [178]:
from sklearn.preprocessing import scale
X_scaled = scale(X)

print("Mean and Standard Deviation of X")
print(np.mean(X))
print(np.std(X))
print("")
print("Mean and Standard Deviation of X_scaled")
print(np.mean(X_scaled))
print(np.std(X_scaled))

Mean and Standard Deviation of X
44.98579117838542
58.37297131925462

Mean and Standard Deviation of X_scaled
8.919369872314083e-17
1.0

**Preprocessing and Pipelines**

In [185]:
# Import the necessary modules
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# Setup the pipeline steps: steps
steps = [('scaler', StandardScaler()),
        ('knn', KNeighborsClassifier())]
        
# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Fit the pipeline to the training set: knn_scaled
knn_scaled = pipeline.fit(X_train,y_train)

# Instantiate and fit a k-NN classifier to the unscaled data
knn_unscaled = KNeighborsClassifier().fit(X_train, y_train)

# Compute and print metrics
print('Accuracy with Scaling: {}'.format(knn_scaled.score(X_test,y_test)))
print('Accuracy without Scaling: {}'.format(knn_unscaled.score(X_test, y_test)))

Accuracy with Scaling: 0.6822916666666666
Accuracy without Scaling: 0.65625

# Classification Model -- **SVM**
## SVM -- Support Vector Machines

In [180]:
from sklearn.svm import SVC
# Setup the pipeline
steps = [('scaler', StandardScaler()),
         ('SVM', SVC())]

pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'SVM__C':[1, 10, 100],
              'SVM__gamma':[0.1, 0.01]}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=21)

# Instantiate the GridSearchCV object: cv
cvt = GridSearchCV(pipeline, param_grid=parameters)

# Fit to the training set
cvt.fit(X_train, y_train)

# Predict the labels of the test set: y_pred
y_pred = cvt.predict(X_test)

# Compute and print metrics
print("Accuracy: {}".format(cvt.score(X_test, y_test)))
print(classification_report(y_test, y_pred))
print("Tuned Model Parameters: {}".format(cvt.best_params_))

Accuracy: 0.7532467532467533
              precision    recall  f1-score   support

           0       0.75      0.90      0.82        94
           1       0.78      0.52      0.62        60

    accuracy                           0.75       154
   macro avg       0.76      0.71      0.72       154
weighted avg       0.76      0.75      0.74       154

Tuned Model Parameters: {'SVM__C': 1, 'SVM__gamma': 0.01}

###Printing all the prediction scores

In [183]:
print("Simple KNN model:", knn.score(X_test, y_test))
print("Cross Validation Model:", np.mean(cv_scores))
print("Prediction score from GridSearchCV:", knn_cv.best_score_)
print("Prediction score from RandomizedSearchCV:", knn_scv.best_score_)
print("Prediction score after scaling:", knn_scaled.score(X_test,y_test))
print("Final Prediction Score:",cvt.score(X_test, y_test))

Simple KNN model: 0.65625
Cross Validation Model: 0.727900857312622
Prediction score from GridSearchCV: 0.7578558696205755
Prediction score from RandomizedSearchCV: 0.7578558696205755
Prediction score after scaling: 0.6822916666666666
Final Prediction Score: 0.7864583333333334