# Linear Regression
### Supervised Learning with Scikit-Learn

## Work By - **RAVJOT SINGH**

E-Mail - ravjot313@gmail.com

Website - https://ravjot03.github.io/

LinkedIn - https://www.linkedin.com/in/ravjot03/

GitHub - https://github.com/Ravjot03

Medium - https://medium.com/@ravjot03

## Importing the libraries

In [1]:
import pandas as pd

## Reading the dataset

In [2]:
df = pd.read_csv('gapminder.csv')
df.head()

   population  fertility  ...  child_mortality                      Region
0  34811059.0       2.73  ...             29.5  Middle East & North Africa
1  19842251.0       6.43  ...            192.0          Sub-Saharan Africa
2  40381860.0       2.24  ...             15.4                     America
3   2975029.0       1.40  ...             20.0       Europe & Central Asia
4  21370348.0       1.96  ...              5.2         East Asia & Pacific

[5 rows x 10 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   population       139 non-null    float64
 1   fertility        139 non-null    float64
 2   HIV              139 non-null    float64
 3   CO2              139 non-null    float64
 4   BMI_male         139 non-null    float64
 5   GDP              139 non-null    float64
 6   BMI_female       139 non-null    float64
 7   life             139 non-null    float64
 8   child_mortality  139 non-null    float64
 9   Region           139 non-null    object
dtypes: float64(9), object(1)
memory usage: 11.0+ KB

In [4]:
df.describe()

         population   fertility  ...        life  child_mortality
count  1.390000e+02  139.000000  ...  139.000000       139.000000
mean   3.549977e+07    3.005108  ...   69.602878        45.097122
std    1.095121e+08    1.615354  ...    9.122189        45.724667
min    2.773150e+05    1.280000  ...   45.200000         2.700000
25%    3.752776e+06    1.810000  ...   62.200000         8.100000
50%    9.705130e+06    2.410000  ...   72.000000        24.000000
75%    2.791973e+07    4.095000  ...   76.850000        74.200000
max    1.197070e+09    7.590000  ...   82.600000       192.000000

[8 rows x 9 columns]

In [5]:
df.shape

(139, 10)

In [6]:
df.isna()

     population  fertility    HIV  ...   life  child_mortality  Region
0         False      False  False  ...  False            False   False
1         False      False  False  ...  False            False   False
2         False      False  False  ...  False            False   False
3         False      False  False  ...  False            False   False
4         False      False  False  ...  False            False   False
..          ...        ...    ...  ...    ...              ...     ...
134       False      False  False  ...  False            False   False
135       False      False  False  ...  False            False   False
136       False      False  False  ...  False            False   False
137       False      False  False  ...  False            False   False
138       False      False  False  ...  False            False   False

[139 rows x 10 columns]

In [7]:
df.isna().sum()

population         0
fertility          0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

## Applying Linear Regression Model

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = df['fertility'].values
y = df['life'].values 

y = y.reshape(-1,1)
X = X.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state=42)

reg_all = LinearRegression()
 
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)

reg_all.score(X_test, y_test)

0.7360997026325926

## Applying Cross Validation model

In [9]:
from sklearn.model_selection import cross_val_score
reg = LinearRegression()

cv_results = cross_val_score(reg, X ,y, cv=5)

print(cv_results)

[0.71001079 0.75007717 0.55271526 0.547501   0.52410561]

In [10]:
import numpy as np
np.mean(cv_results)

0.6168819644425119

## Applying Ridge model

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

ridge = Ridge(alpha=0.5, normalize=True)
ridge.fit(X_train, y_train)

ridge.score(X_test,y_test)

0.6778891585508251

## Applying Lasso Model

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

lasso = Lasso(alpha=0.5, normalize=True)
lasso.fit(X_train, y_train)

lasso.score(X_test,y_test)

0.37006658389474933

In [24]:
from sklearn.preprocessing import scale
X_scaled = scale(X)

print("Mean and Standard Deviation of X")
print(np.mean(X))
print(np.std(X))
print("")
print("Mean and Standard Deviation of X_scaled")
print(np.mean(X_scaled))
print(np.std(X_scaled))

Mean and Standard Deviation of X
3.005107913669065
1.6095333641230132

Mean and Standard Deviation of X_scaled
-2.1485611052098353e-16
0.9999999999999999

## Preprocssing Data and Hyperparameters

In [26]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

# Setup the pipeline steps: steps
steps = [('imputation', SimpleImputer(missing_values=np.nan, strategy='mean')),
         ('scaler',StandardScaler()),
         ('elasticnet', ElasticNet())]

# Create the pipeline: pipeline 
pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'elasticnet__l1_ratio':np.linspace(0,1,30)}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

# Create the GridSearchCV object: gm_cv
gm_cv = GridSearchCV(pipeline, param_grid=parameters)

# Fit to the training set
gm_cv.fit(X_train, y_train)

# Compute and print the metrics
r2 = gm_cv.score(X_test, y_test)
print("Tuned ElasticNet Alpha: {}".format(gm_cv.best_params_))
print("Tuned ElasticNet R squared: {}".format(r2))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2686.5460516459175, tolerance: 0.7252346987951809
  positive)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2521.4214659102, tolerance: 0.7234290602409639
  positive)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2501.188020744408, tolerance: 0.7391120000000001
  positive)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2705.239493177117, tolerance: 0.7535941686746989
  positive)

Tuned ElasticNet Alpha: {'elasticnet__l1_ratio': 1.0}
Tuned ElasticNet R squared: 0.7364457833408234